.header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  padding: 10px;
  border-bottom: 1px solid black;
  align-items: center;
  margin-bottom: 30px;
}

.header img {
  padding-right: 10px;
}

.header p {
  color: MediumAquamarine;
}

.header nav {
  margin-left: auto;
}

nav li {
  display: inline-block;
  padding: 10px;
}


.main {
  display: flex;
  justify-content: space-around;
}

.left {
  width: 630px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: space-around;

}

.middle {
  width: 300px;
  display: flex;
  flex-direction: column;
}

.right {
  width: 240px;
  display: flex;
  flex-direction: column;
}

#phish-title {
  background-image: url("./images/champagne.png");
  font-size: 40px;
  width: 629px;
  height: 300px;
}

#earth-story {
  background-image: url("./images/fall.png");
  width: 299px;
  height: 300px;
  text-align: center;
}

#camera-story {
  background-image: url("./images/camera.png");
  width: 299px;
  height: 300px;
  text-align: center;

}

#cat-title {
  background-image: url("./images/cat.png");
  width: 299px;
  height: 300px;
  text-align: center;
}

.imagediv {
  font-family: Georgia;
  font-size: 30px;
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.story {
  display: flex;
  flex-direction: column;
  font-family: Georgia;
  font-size: 17px;
}

.box {
  width: 299px;
}

#links h3 {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

#links p {
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
  background-color: WhiteSmoke;
  border-bottom: 1px solid black;
  margin: 0px;
  padding: 10px;
}

footer {
  display: flex;

  background-color: MediumAquamarine;
  font-family: Verdana;
  font-size: 12px;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  height: 300px;
}

footer li {
  display: inline-block;
}

#footer-title {
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
  padding-right: 20px;
}
